NUXT_AGENT_RUNTIME_URL=
NUXT_AGENT_RUNTIME_API_KEY=
NUXT_AGENT_AUTH_URL=
NUXT_PUBLIC_AGENT_AUTH_URL=
NUXT_AGENT_IDENTITY_URL=
NUXT_PUBLIC_AGENT_IDENTITY_URL=
NUXT_SURREALDB_URL=
NUXT_PUBLIC_AGENT_GRAPH_SCHEMA=Agent-Graph
